/*
Table of Contents

1. Mini-bio
2.About

*/


/* 1. MINI-BIO */

.mini-bio {
  background-color: var(--clr-melon);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spc-med);
  padding: var(--spc-big) var(--spc-med);
}

.bio-text {
  width: 50%;
  max-width: 528px;
}

.bio-img-wrapper {
  width: 50%;
  max-width: 528px;
  height: 368px;
}

.bio-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: right;
}

.mini-bio p {
  font-size: var(--fs-h2);
}


/* 2. ABOUT */

.about-me {
  margin: var(--spc-small) auto var(--spc-big);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 96%;
  max-width: 960px;
}

.about-me img {
  margin-bottom: var(--spc-med);
}

.about-me h1 {
  text-align: center;
  max-width: 384px;
  margin: 0px auto;
}

.about-top-centered {
  max-width: 640px;
  text-align: center;
  margin: 0px auto;
}

.about-me .pink-button {
  margin: var(--spc-small) auto;
}

.half-and-half {
  display: flex;
  flex-direction: row;
  gap: var(--spc-med);
}

.half-and-half img {
  width: 50%;
  max-width: 464px;
  object-fit: cover;
}

.half-and-half div {
  width: 50%;
  max-width: 464px;
}

.no-top-margin {
  margin-top: 0px;
}

.half-and-half div h2 {
  margin-bottom: 8px;
}

.half-and-half div p {
  margin-top: 8px;
}