/* 

TABLE OF CONTENTS

1. Universal Styles 
2. Text
3. Buttons


*/

/* 1. UNIVERSAL*/

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-grey: #e3e3e3;
  --clr-med-grey: #757575;
  --clr-black: hsl(0, 0%, 0%);

  --clr-soft-black: hsl(231, 13%, 10%);
  --clr-deep-teal: hsl(198, 31%, 28%);
  --clr-melon: hsl(16, 67%, 79%);
  --clr-tan: hsl(24, 35%, 70%);
  --clr-bone: hsl(35, 39%, 89%);
  --clr-crimson: hsl(0, 60%, 53%);

  --bs-shadow: 0px 4px 6px hsla(0, 0%, 0%, 0.25);
  --bs-shadow-light: 0px 4px 6px hsla(0, 0%, 0%, 0.05);

  --font-header: "Yeseva One", serif;
  --font-body: "Josefin Sans", sans-serif;

  --fw-light: 300;
  --fw-reg: 400;
  --fw-semi-bold: 600;

  --fs-h1-big: 64px;
  --fs-h1-reg: 32px;
  --fs-h2: 20px;
  --fs-body: 18px;

  --spc-big: 48px;
  --spc-med: 32px;
  --spc-small: 16px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  min-height: 100vh;
  background-color: var(--clr-bone);
  margin: auto;
}

main {
  margin: 144px auto 0px;
  overflow: hidden;
}

a,
button {
  text-decoration: none;
  font-family: var(--font-body);
  color: var(--clr-soft-black);
  font-size: var(--fs-h2);
  font-weight: var(--fw-semi-bold);
}

i {
  font-size: var(--fs-h2);
  padding-bottom: 2px;
}

.current-page {
  text-decoration: underline;
}

.spacing-line {
  height: 4px;
  width: 90%;
  max-width: 1216px;
  background-color: var(--clr-tan);
  border-radius: 25px;
  margin: var(--spc-big) auto;
}

.breadcrumbs {
  width: 100%;
  max-width: 1248px;
  margin: 0px auto;
  padding-left: var(--spc-med);
  transition: 0.5s ease;
}

.breadcrumbs a,
#current-breadcrumb {
  color: #31505d;
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-h2);
  font-family: var(--font-body);
}

.breadcrumbs a:hover {
  color: var(--clr-soft-black);
}

#current-breadcrumb {
  text-decoration: underline;
}

/* 2. TEXT */

p {
  font-family: var(--font-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-light);
  color: var(--clr-black);
  margin: var(--spc-small) 0px;
  text-wrap: pretty;
  line-height: 120%;
}

.publish-date {
  font-style: italic;
}

h2 {
  font-family: var(--font-body);
  font-size: var(--fs-h2);
  font-weight: var(--fw-semi-bold);
  color: var(--clr-soft-black);
  margin: var(--spc-med) 0px var(--spc-small);
}

.signature {
  font-family: var(--font-header);
  font-size: var(--fs-h1-reg);
  margin: var(--spc-small);
  text-align: center;
}

h1 {
  font-family: var(--font-header);
  font-size: var(--fs-h1-big);
  color: var(--clr-deep-teal);
}

.big-p {
  font-size: var(--fs-h2);
  font-weight: var(--fw-light);
}

.bigger-p {
  font-size: var(--fs-h2);
  font-weight: var(--fw-semi-bold);
}

.post h1 {
  font-size: var(--fs-h1-reg);
  color: var(--clr-soft-black);
}

/* BUTTONS */

.white-button,
.pink-button,
.dark-button {
  display: flex;
  align-items: end;
  justify-content: center;
  text-align: center;
  padding: 18px 16px 14px;
  box-shadow: var(--bs-shadow);
  width: max-content;
  height: min-content;
  margin: var(--spc-small);
  gap: 8px;
  cursor: pointer;
  transition: 0.5s ease;
}

.dark-button {
  background-color: var(--clr-deep-teal);
  color: var(--clr-white);
}

.dark-button:hover {
  background-color: var(--clr-soft-black);
}

.white-button {
  background-color: var(--clr-white);
}

.white-button:hover {
  background-color: var(--clr-melon);
}

.pink-button {
  background-color: var(--clr-melon);
}

.pink-button:hover {
  background-color: var(--clr-deep-teal);
  color: var(--clr-white);
}

/* HEADER & FOOTER*/

header,
footer {
  width: 100%;
  height: 96px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--clr-melon);
}

.navbar {
  z-index: 12;
  position: fixed;
  top: 0px;
  box-shadow: var(--bs-shadow-light);
  transition: top 0.3s;
}

header .dark-button {
  z-index: 12;
}

.max-width {
  width: 100%;
  max-width: 1248px;
  height: 96px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  background-color: var(--clr-melon);
}

.home-link {
  display: flex;
  flex-direction: row;
  align-items: end;
  z-index: 12;
}

.text-logo {
  max-height: 28px;
  margin-bottom: var(--spc-small);
}

footer p {
  margin-left: var(--spc-small);
  margin-right: var(--spc-small);
  max-width: 160px;
}

nav {
  display: flex;
  flex-direction: row;
}

.nav-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: var(--spc-med);
  margin-bottom: 12px;
  margin-left: var(--spc-med);
}

.nav-link {
  transition: 0.5s ease;
}

.nav-link:hover {
  text-decoration: underline;
  color: var(--clr-deep-teal);
}

.selected-nav-li {
  text-decoration: underline;
  color: var(--clr-deep-teal);
}

nav img,
footer img {
  height: 80px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  border-radius: 25px;
  display: block;
  width: 40px;
  height: 3px;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-soft-black);
}


/* LOADER */

/* https://css-loaders.com/progress/ */

.loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: var(--clr-deep-teal);
  border: 2px solid;
  position: relative;
  margin: 80px auto;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
    100% {inset:0}
}


/* ERROR MESSAGE */

.error-message {
  height: min-content;
  background-color: var(--clr-white);
  width: 80%;
  max-width: 600px;
  border: 4px solid var(--clr-crimson);
  color: var(--clr-black);
  padding: var(--spc-med) var(--spc-small);
  margin: var(--spc-big) auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.error-message h1 {
  font-family: var(--font-body);
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-h1-reg);
  color: var(--clr-soft-black);
  text-align: center;
  margin-bottom: var(--spc-small);
}

.error-message div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--spc-small);
}

.error-message p {
  font-size: var(--fs-h2);
  font-weight: var(--fw-light);
}

.error-message img {
  height: 80px;
}

.error-message a {
  color: var(--clr-crimson);
  font-weight: var(--fw-semi-bold);
  text-decoration: underline;
}

/* LIGHTBOX */

/* This video was very helpful! "https://www.youtube.com/watch?v=uKVVSwXdLr0" */

.image{
  cursor: pointer;
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

#lightbox.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: none;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
  border: 8px var(--clr-white) solid;
}

.close-LB{
margin: -8px 0px 0px;
}

/* HOME */

.front-splash {
  width: 100%;
  max-width: 1280px;
  margin: 0px auto var(--spc-big);
  padding: 0px var(--spc-small);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.splash-title {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: var(--spc-small);
}

.title {
  width: 100%;
  object-fit: contain;
  margin: 0px auto;
}

.splash-image-container {
  position: relative;
  display: inline-block;
  height: 448px;
  width: 60%;
  max-width: 720px;
  overflow: hidden;
  margin-right: var(--spc-med);
}

.splash-image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.splash-image-controller {
  position: absolute;
  bottom: var(--spc-small);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spc-small);
}

.circle {
  z-index: 12;
  width: 20px;
  height: 20px;
  border: 2px var(--clr-soft-black) solid;
  border-radius: 50%;
  background-color: var(--clr-white);
  cursor: pointer;
}

.filled-circle {
  background-color: var(--clr-melon);
}

.circle:hover {
  background-color: var(--clr-melon);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-image-container:hover .overlay {
  opacity: 1;
}

.overlay-text {
  color: white;
  font-size: 20px;
  padding: var(--spc-small);
  text-align: center;
}

/* BLOG GRID, SCROLLER & THUMBNAILS */

.scroller-container {
  margin: var(--spc-big) auto var(--spc-med);
  max-width: 1280px;
}

.scroller {
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-behavior: smooth;
  scroll-snap-type: inline mandatory;
  gap: 16px;
  border-right: 16px solid var(--clr-tan);
  border-left: 16px solid var(--clr-tan);

}

.thumbnail {
  width: 320px;
  height: min-content;
  overflow-y: hidden;
  background-color: var(--clr-deep-teal);
  color: var(--clr-white);
  padding: var(--spc-small);
  scroll-snap-align: start;
}

.thumbnail img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.thumbnail p {
  font-size: var(--fs-h2);
  font-weight: var(--fw-light);
  color: var(--clr-white);
}

.thumbnail h2 {
  font-size: var(--fs-h1-reg);
  font-family: var(--font-body);
  color: var(--clr-white);
  margin-top: var(--spc-small);
}

.scroller-buttons {
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.blog-container {
  width: 100%;
  max-width: 1248px;
  margin: var(--spc-small) auto var(--spc-big);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-wrapper {
  position: relative;
  display: inline-block;
}

.select-wrapper i {
  position: absolute;
  right: 14px;
  top: calc(50% - 0.5em);
  pointer-events: none;
}

.select-filter {
  -webkit-appearance: none;
  font-family: var(--font-body);
  font-size: var(--fs-h2);
  font-weight: var(--fw-semi-bold);
  background-color: var(--clr-white);
  color: var(--clr-black);
  padding: 18px 40px 14px 16px;
  height: min-content;
  width: max-content;
  margin: 0px;
  box-shadow: var(--bs-shadow);
  border-radius: 0px;
  cursor: pointer;
}

.blog-filter {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1152px;
  justify-content: space-between;
}
.blog-filter .white-button {
  margin: 0px;
}

.blog-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  gap: var(--spc-med);
  width: 100%;
  max-width: 1120px;
  margin: 0px auto;
  padding: 0px;
}

/*  MINI-BIO */

.mini-bio {
  background-color: var(--clr-melon);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spc-med);
  padding: var(--spc-big) var(--spc-med);
}

.bio-text {
  width: 50%;
  max-width: 528px;
}

.bio-img-wrapper {
  width: 50%;
  max-width: 528px;
  height: 368px;
}

.bio-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: right;
}

.mini-bio p {
  font-size: var(--fs-h2);
}

/* MINI-BLOG & BLOG POSTS */

.mini-blog-container {
  width: 100%;
  max-width: 912px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--spc-med);
}

.mini-blog-container article {
  padding: var(--spc-big);
  background-color: var(--clr-white);
}

.mini-blog-container h2 {
  margin-top: 0px;
  font-family: var(--font-header);
  font-size: var(--fs-h1-reg);
}

.mini-blog-img {
  width: 100%;
  max-width: 816px;
  object-fit: cover;
  object-position: center;
}

article div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.mini-blog-container .pink-button {
  margin-right: 0px;
}

.mini-blog-container .dark-button {
  margin: var(--spc-small) auto 0px;
  padding: var(--spc-small);
}

article p {
  width: 100%;
  max-width: 614px;
}

.post {
  padding: var(--spc-small) 0px var(--spc-big);
  width: 100%;
  max-width: 1216px;
  margin: var(--spc-small) auto var(--spc-big);
  background-color: var(--clr-white);
}

.post h1 {
  text-align: center;
  margin: var(--spc-med) auto;
}

.post p:first-of-type {
  text-align: center;
}

.post h2 {
  width: 100%;
  max-width: 614px;
  margin: var(--spc-med) auto var(--spc-small);
}

.post p {
  margin: var(--spc-small) auto;
}

.post img {
  width: 100%;
  object-fit: cover;
}

.post .pink-button {
  margin-left: auto;
  margin-right: var(--spc-big);
}

/* SUBSCRIBE & CONTACT */

.subscribe-container,
.contact-container {
  padding: var(--spc-big) 0px;
  background-color: var(--clr-white);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spc-med);
}

.subscribe-container p {
  font-family: var(--font-header);
  font-size: var(--fs-h1-reg);
  color: var(--clr-soft-black);
  margin: 0px;
}

.subscribe-container h2 {
  font-family: var(--font-header);
  font-size: var(--fs-h1-big);
  color: var(--clr-deep-teal);
  margin: 0px;
}

form {
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: var(--spc-small);
}

label {
  font-family: var(--font-body);
  font-size: var(--fs-h2);
  font-weight: var(--fw-semi-bold);
  color: var(--clr-black);
}

input,
textarea {
  border-left: 2px var(--clr-med-grey) solid;
  border-bottom: 2px var(--clr-med-grey) solid;
  border-radius: 0px;
  width: 100%;
  padding: 8px;
  font-family: var(--font-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
}

textarea {
  height: 102px;
}

.subscribe-container button {
  margin: 0px auto;
}

.contact-container {
  margin: var(--spc-small) auto var(--spc-big);
  padding-bottom: 96px;
}

.contact-container h1 {
  margin-bottom: var(--spc-big);
  max-width: 696px;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: var(--spc-big);
  width: 100%;
  max-width: 696px;
  height: 260px;
}

.contact-form div {
  width: 100%;
  max-width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

.contact-form input {
  margin-bottom: var(--spc-small);
}

.contact-form button {
  margin: 26px auto 0px;
}

/* ABOUT */

.about-me {
  margin: var(--spc-small) auto var(--spc-big);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 96%;
  max-width: 960px;
}

.about-me img {
  margin-bottom: var(--spc-med);
}

.about-me h1 {
  text-align: center;
  max-width: 384px;
  margin: 0px auto;
}

.about-top-centered {
  max-width: 640px;
  text-align: center;
  margin: 0px auto;
}

.about-me .pink-button {
  margin: var(--spc-small) auto;
}

.half-and-half {
  display: flex;
  flex-direction: row;
  gap: var(--spc-med);
}

.half-and-half img {
  width: 50%;
  max-width: 464px;
  object-fit: cover;
}

.half-and-half div {
  width: 50%;
  max-width: 464px;
}

.no-top-margin {
  margin-top: 0px;
}

.half-and-half div h2 {
  margin-bottom: 8px;
}

.half-and-half div p {
  margin-top: 8px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1120px) {
  /* blog */
  .blog-filter {
    max-width: 736px;
  }

  .blog-filter .white-button {
    display: none;
  }

  .scroller{
    border-right: 0px;
    border-left: 0px;
  }
}

@media screen and (max-width: 900px) {
  /* universal */

  main {
    margin-top: 96px;
  }

  .get-stacked {
    flex-direction: column;
  }

  .get-stacked-reverse {
    flex-direction: column-reverse;
  }

  .get-stacked p,
  .get-stacked-reverse p {
    width: 100%;
    max-width: 600px;
  }

  .centered-stack {
    align-items: center;
    justify-content: center;
  }

  .breadcrumbs {
    padding-left: var(--spc-small);
  }

  /* header */

  header,
  .max-width {
    height: 80px;
  }

  .navbar-hidden {
    top: -96px;
  }

  .text-logo {
    display: none;
  }

  .hamburger {
    display: block;
    margin-top: 20px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }

  .nav-menu {
    position: absolute;
    left: 0px;
    top: -300px;
    gap: 0px;
    margin: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-melon);
    width: 100%;
    text-align: center;
    transition: 0.5s;
    box-shadow: var(--bs-shadow-light);
  }

  .nav-item {
    margin: var(--spc-small) 0px;
  }

  .nav-menu.active {
    top: 80px;
  }

  /* home */
  .front-splash {
    margin: 0px auto;
    padding: 0px;
    align-items: center;
  }

  .ca-button {
    display: none;
  }

  .splash-title {
    width: 100%;
    margin: var(--spc-small) auto;
  }

  .splash-image-container {
    width: 100%;
    height: 390px;
    margin: 0px auto;
  }

  /* mini-bio & about */
  .bio-text,
  .bio-img-wrapper {
    width: 100%;
    max-width: 600px;
  }

  .half-and-half {
    align-items: center;
    margin: 0px;
    padding: 0px;
  }
  .half-and-half div,
  .about-top-centered {
    width: 90%;
    max-width: 600px;
  }

  .about-me {
    width: 100%;
    max-width: 600px;
    gap: var(--spc-small);
  }

  .about-top-centered h2 {
    margin-top: var(--spc-small);
  }

  .about-me img {
    width: 100%;
    max-width: 600px;
    max-height: 512px;
    align-items: center;
    object-fit: cover;
    object-position: top;
    margin: 0px auto;
  }

  /* mini-blog & blog posts */
  .mini-blog-container .pink-button {
    margin: var(--spc-small);
  }

  .mini-blog-container .dark-button {
    margin: 0px auto;
  }

  .post p,
  .post h2,
  .post h1 {
    width: 90%;
  }

  /* subscribe & contact */

  input,
  textarea {
    width: 90%;
  }

  .contact-container {
    padding: var(--spc-med) 0px;
    gap: var(--spc-med);
  }

  .contact-container h1 {
    margin: 0px;
    width: 90%;
  }

  .contact-form {
    height: auto;
    gap: var(--spc-small);
    align-items: center;
    margin: 0px auto;
    width: 90%;
  }
}

@media screen and (max-width: 735px) {
  /* universal */
  :root {
    --fs-h1-big: 32px;
    --fs-h1-reg: 20px;
    --fs-h2: 20px;

    --spc-big: 32px;
  }
  /* blog */
  .blog-filter {
    max-width: 352px;
  }

  .blog-grid {
    gap: 16px;
    margin-top: 32px;
  }

  .title {
    margin: 0px auto;
    width: 260px;
  }

  .select-filter,
  .pink-button,
  .white-button,
  .dark-button {
    font-size: var(--fs-body);
  }

  i {
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 420px) {
  /* blog */
  .thumbnail {
    width: 100%;
  }

  .select-filter {
    margin-left: 16px;
  }
}
